<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<form accept-charset="UTF-8" action="/new" method="post">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <label for="q">Search for:</label>
  <input id="q" name="q" type="text" />
  <input name="commit" type="submit" value="Search" />
</form>